.contact{
    height: auto;
    margin-bottom: 100px;
}
.contact .contact-header{
    text-align: center;
    margin-bottom: 40px;
}
.contact .contact-header h1{
    font-weight: bold;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.contact .contact-header h1 span{
    color: darkgray;
}
.contact .contact-header h5{
    margin-top: 30px;
    font-weight: 500px;
    font-size: 25px;
}
.contact .content{
    text-align: center;
}
.contact .content .svg{
    color: rgb(2, 124, 49);
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.contact .content .svg1{
    color: rgb(207, 11, 11);
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.contact .content .svg2{
    color: rgb(236, 240, 45);
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.contact .h-col{
    margin-top: 70px;
}
.contact .content a{
    text-decoration: none;
    color: black;
}

.form-header{
    margin-top: 50px;
    margin-bottom: 40px;
    
}
.form-header h5{
  font-size: 30px;
}
.form-control{
    border-radius: 15px;
    height: 50px;
    background-color: rgb(223, 223, 223);
    font-size: 18px;
}
.contact .btn{
    background-color:  rgb(120, 44, 155);
    color: #fff;
    font-weight: 500;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}
.contact .btn:hover{
    background-color:#fff;
    color: black;
    font-weight: 500;
    padding: 15px 30px 15px 30px;
    border: solid 2px black;
    border-radius: 15px;
    margin-top: 20px;
}