.home{
    
    height: auto;
    color: black;
    margin-top: 150px;
}
.home .row{
    margin-left: 40px;
}
.hom{
    margin-top: 30px;
}
.hom h1{
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    margin-bottom: 30px;
}
.hom h1 span{
    color: darkgray;
    font-weight: bold; 
}
.hom h2{
    font-size: 40px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hom p{
    margin-top: 35px;
    font-size: 18px;
    font-weight: 500;
}

.hom .btn{
    border: 2px solid rgb(120, 44, 155);
    background: none;
    padding: 12px 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.hom .btn::before{
    content: "";
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background: rgb(120, 44, 155);
    z-index: -1;
    transition: 0.8s;
}
.hom .btn1::before{
     top: 0;
     border-radius: 0 0 50% 50%;
}
.hom .btn1:hover::before{
    height: 180%;
}
.hom .btn1:hover{
    color: #fff;
}
.hom .btn span{
    display: flex;
}
.hom .svg{
    margin-top: 5px;
}
.home .box{
    position: relative;
   width: 350px;
   height: 350px;
   background-color: #c5c5c580;
   border-radius: 50%;
   overflow: hidden;

}
.home .box::before{
    content: "";
     position: absolute;
     inset: -20px 120px;
     background: linear-gradient(315deg , rgb(223, 70, 197), rgb(87, 33, 112));
     transition: 0.5s;
     animation: animate 6s linear infinite;

}
.home .box:hover::before{
    inset: -20px 0px;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.home .box::after{
    content: "";
    position: absolute;
    inset: 6px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.home .content{
    position: absolute;
    inset: 20px;
    border: 6px solid rgba(255, 254, 254, 0.5);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}
.home .content img{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: 0.5s;
 pointer-events: none;
}
