/* .footer{
    background-color:  rgb(120, 44, 155);
    height: 250px;
    border-top-left-radius: 100%;
} */
/* .footer .f-content{
    display:flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
    width: 100%;
    gap: 3rem;
}
.footer .icon{
    margin-right: 30px;
} */