header{
  background-color:  rgb(120, 44, 155);
  top: 0px;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  }

header img {
  width: 70px;
  height: 50px;
  } 
 header .menu{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;

  }
  header .mobile-nav{
    align-items: center;
    text-align: center;
    list-style: none;
    position:absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    width: 100%;
    visibility: hidden;
    color: black;
    background-color:  rgb(120, 44, 155);
    padding-bottom: 20px;
  }
  header .mobile-nav li:hover{
    background-color: #fff;
   
  }

  .icons{
    visibility: hidden;
    color: #fff;
    position: absolute;
  }
  @media only screen and (max-width :800px){
    header .menu{
      visibility: hidden;
    }
    .icons{
      visibility: visible;
    }
    header .mobile-nav{
      visibility:visible;
    }
    header img {
       visibility: hidden;
    }
  }



  header  a{
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    font-size: 14px;
    font-weight: 500px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 0 8px;
    text-transform: uppercase;
    margin-top: 5px;
    display: flex;
    
  } 
  header a:hover{
    text-decoration: none;
    color: rgb(158, 158, 158);
  }
