nav{
  background-color: rgb(120, 44, 155);
  top: 0px;
  height: 60px;
  display: block;

} 
.na-bg{
  background-color: rgb(238, 238, 238);
}
nav img {
  max-width: 100%;
  height: 90%;
  margin-right: 400px;
  width: 70px;
  height: 50px;
  margin-top: 10px;
  } 
  

.nav-link{
  display: flex;
  gap:4rem;
  align-items: center;
  color: #fff;
  font-family: poppins;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
nav a{
   margin-left: 60px;
   padding: 10px;
  float:right;
  color: #fff;
  font-family: poppins;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
 
}
.nav a:hover{
  color: rgba(190, 190, 190, 0.9);
}
/* nav a:is(:link ,:active ,:visited){
  color: #fff;
  background-color: black;
}
*/
/* @media only screen and (max-width :767px) {
  .nav-link {
      background: rgb(0, 0, 0, 0.8);
  }
  nav a{
      color: #fff;

  }
  .toggle{
      padding: 1px 5px;
      font-size: 18px;
      line-height: 0.3;
      background-color: #fff;

  }
}
#menu-area .cus-nav{
  background: #262626;
  z-index: 999;
}
#menu-area.cus-nav a{
  color: #fff;

} */
