.projects{
    background-color:rgba(231, 231, 231, 0.5);
    height: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 30px 30px;
    
}
.projects img{
    width: 350px;
    height: 280px;
    box-shadow:10px 10px 10px 8px rgb(192, 189, 189);
    border-radius: 25px;
    /* border: solid 1px rgb(82, 0, 99); */
    
}
.projects .row{
    margin-bottom: 20px;
}
.projects .header-projects h1{
    text-align: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 30px;
}
.projects .header-projects h1 span{
    color: darkgray;
    font-weight: bold; 
}